 body header#main-header { 
  height: 520px;
  width: 100%;
  background-color: #090a1a;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.pic {
  margin-top: 150px;
} 

h2 {
  color: aliceblue;
}
